node_modules/
.env.*
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env
.env.*
!.env.example
backend/.env
backend/.env.*
!backend/.env.example

.DS_Store
node_modules
# React Native & iOS Dependencies
node_modules/
ios/Pods/
ios/build/
*.xcworkspace
*.xcuserdatad
# Android yasakli listesi
android/app/build/
android/build/
android/.gradle/
*.apk
*.so
*.ap_
*.dex

# Android Native Build Cache
android/app/.cxx/
*.ninja*
CMakeCache.txt
